head{
	font-family:Impact, Charcoal, sans-serif; 
	font-size:40px;
	font-weight:;
	line-height:;
	letter-spacing:;
}
.p1{
	font-family:font-family: 'Slabo 27px', serif;
	font-size:px;
	font-weight:;
	line-height:px;
	letter-spacing:;
}
.p2{
	font-family:font-family: 'Slabo 27px', serif; 
	font-size:px;
	font-weight:;
	line-height:px;
	letter-spacing:;
}
.p3{
	font-family:font-family: 'Slabo 27px', serif; 
	font-size:px;
	font-weight:;
	line-height:px;
	letter-spacing:;
}